extends layout

block content
  h1 #{game.type()}
  h3 Welcome to #{game.type()} game

  input(id="gameType" value=game.type() type="hidden")

  div.row
    //- User choices section
    div#p1-container.column.center
      each gameOption in game.getOptions()
        input.option(
          type="image"
          id=`gameOption-${gameOption}`, 
          src=`/images/game-options/${gameOption}.png`
          value=gameOption
        )

    //- Game result section
    div#p2-container.column.center.hidden
      img#choice(src="/images/game-options/rock.png")
  
  div#result.hidden
    div.row
      p#winner.bold.report
      
    div.row
      button#new-game.bt.report New Game
