extends layout

block content
  h1 #{game.type()}
  p Welcome to #{game.type()} game

  input(id="gameType" value=game.type() type="hidden")

  //- User choices section
  div#optionsBar.split.left.center
    each gameOption in game.getOptions()
      img.option(
        id=`gameOption-${gameOption}`, 
        src=`/images/game-options/${gameOption}.png`
        value=gameOption
      )

  //- Game result section
  div#result.split.right.center.hidden
    div.scorebox
      p#player-1-choice
      p#player-2-choice
      p#winner
      button#newGame New Game
